.App {
  text-align: center;
}
.min{
  color: rgb(184, 140, 224);
  font-size: 5rem;
}
.max{
  color: rgb(95, 30, 156);
  font-size: 5rem;
}
button {
  border-radius: 8px;
  padding: 8px;
  font-size: 1em;
  background-color: #eac6ff;
  cursor: pointer;
}